/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* //common styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

.container {
  width: 870px;
  background-color: #ffffff;
  padding: 30px;
}

.section-title {
  color: #562eff;
  margin-top: 3px;
}
/* //main style */
main {
  display: flex;
  justify-content: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom :19px;
}

/* Top player style */

.player img {
  width: 56px;
  height: 56px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
  margin-bottom: 22px;
}
.player {
  display: flex;
  align-items: center;
}
.player-name {
  margin-left: 16px;
  font-size: 18px ;
}


/* styling top blog */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}

.blog{
    display: flex;
    align-items: center;
}
.blog-info{
    margin-left: 16px;
}
.blog .thumbnail img{
    width: 117px;
}
.blog .blog-title{
    margin-bottom: 6px;
    font-size: 20px;
}
.blog .author{
    font-size: 16px;
    margin-top: 0;
}
.author a{
    text-decoration: none;
}